{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["airbnb", "airbnb/hooks"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [],
  "rules": { "react/jsx-filename-extension": 0 }
}
